$secondary-color: #1A5177;
$primary-color: #8BB1CC;
$accent-color: #5CA8E2;

$text-color-black: #0A151B;
$text-color-light: #fefdf5;

$title-primary-font-size: 20px;
$title-secundary-font-size: 40px;
$text-font-size: 24px;

$bg-color:#E7EAEB;
$bg-color-black:#1b1b1b;
$bg-color-light:#ebe8e8;

$text-line-height: 200%;

$fonts: Arial, "Helvetica Neue", Helvetica, sans-serif;