$secondary-color: #ffdb92;
$primary-color: #eeb74a;
$accent-color: #cc8800;

$text-color-black: #0f0f0f;
$text-color-light: #fefdf5;

$title-primary-font-size: 64px;
$title-secundary-font-size: 40px;
$text-font-size: 24px;

$bg-color-black:#1b1b1b;
$bg-color-light:#ebe8e8;

$text-line-height: 200%;

$fonts: Arial, "Helvetica Neue", Helvetica, sans-serif;