
.logoRegisters {
  width: 240px;
  height: 70px;
  background-color: #514D4D;
  
}



//Formulario

@mixin input($tam) {
  width: $tam;
  height: 40px;
  background-color: $bg-color;
  border-radius: 3;
  border: none;
  color: $text-color-black;
  border-radius: 3px;
  padding-left: 20px;
}

@mixin form() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-singin {
  @include form();
}

#form-register {
  @include form();
}


.input-singin {
  @include input(225px);
  margin: 20px 0px 0px 0px;
}

.input-register {
  @include input(225px);
  margin: 20px 0px 0px 0px;
}

.registers-div {
  @include form();
  background-color: $accent-color;
  margin-top: 20px;
  padding: 30px;
  min-width: 240px;
  max-width: 650px;
  border-radius: 12px;
}



//Botones

@mixin button() {
  background-color: $secondary-color;
  color: $text-color-light;
  border-radius: 8px;
  width: 150px;
  padding: 10px 20px;
  border: none
}

.button-register-link {
  @include button();
}

.button-singin {
  @include button();
  margin: 20px 0px 0px 0px;
}

.button-singin-link {
  @include button();
}

.button-register {
  @include button();
  margin: 20px 0px 0px 0px;
}

//Separador

@mixin hr($tam) {
  width: $tam;
  background-color: $bg-color;
  height: 5px;
  border-radius: 10px;
  margin: 20px 10px;
}

#separador {
  @include hr(225px);
}

@media screen and (min-width: 600px) {
  .input-singin {
    @include input(400px)
  }

  .input-register {
    @include input(400px)
  }

  #separador {
    @include hr(500px)
  }

  .singin-div {
    min-width: 500px;
  }

  .register-div {
    min-width: 500px;
  }
}