.inputSingIn {
  width: 225px;
  height: 40px;
  background-color: #E7EAEB;
  border-radius: 3;
  border: none;
  color: #0A151B;
}

@media screen and (min-width: 600px) {
  .inputSingIn {
    width: 400px;
    height: 40px;
    background-color: #E7EAEB;
    border-radius: 3;
    border: none;
    color: #0A151B;
  }
}

